/* Hero.css */
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600;700&family=Inter:wght@400;500&display=swap");

.hero {
  background: linear-gradient(180deg, var(--cream), #f0e9da);
  padding: 5rem 1.5rem;
}

.hero-container {
  max-width: 1200px;
  margin: auto;
  display: grid;
  grid-template-columns: 1.1fr 0.9fr;
  align-items: center;
  gap: 3rem;
}

/* Text */
/* .hero-text{
    margin-bottom: 3rem;
} */
.hero-text .badge {
  display: inline-block;
  font-family: "Inter", sans-serif;
  font-size: 0.75rem;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: var(--deep-blue);
  border: 1px solid var(--accent);
  padding: 0.4rem 0.8rem;
  border-radius: 20px;
  margin-bottom: 1.2rem;
}

.hero-text h1 {
  font-family: "Playfair Display", serif;
  font-size: 3.2rem;
  line-height: 1.15;
  color: var(--deep-blue);
  margin-bottom: 1rem;
}

.hero-text h1 span {
  color: var(--accent);
}

.hero-text p {
  font-family: "Inter", sans-serif;
  font-size: 1.05rem;
  color: #444;
  max-width: 480px;
  margin-bottom: 2rem;
}

.hero-actions {
  display: flex;
  gap: 1rem;
}

.hero-btn {
  font-family: "Inter", sans-serif;
  font-size: 0.9rem;
  padding: 0.75rem 1.6rem;
  border-radius: 30px;
  text-decoration: none;
  transition: all 0.3s ease;
}

.hero-btn.primary {
  background: var(--deep-blue);
  color: var(--cream);
}

.hero-btn.primary:hover {
  background: #081c30;
}

.hero-btn.secondary {
  border: 1px solid var(--deep-blue);
  color: var(--deep-blue);
}

.hero-btn.secondary:hover {
  background: var(--deep-blue);
  color: var(--cream);
}

/* Images */
.hero-images {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}

.img-card {
  background: url("../../assets/Adire-f4.jpeg") center/cover no-repeat;
  border-radius: 20px;
  aspect-ratio: 3/4;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.12);
}

.img-card:nth-child(2) {
     background: url("../../assets/Adire-7.jpeg") center/cover no-repeat;
  transform: translateY(20px);
}

.img-card:nth-child(3) {
   background: url("../../assets/Adire-2.jpeg") center/cover no-repeat;
  grid-column: span 2;
}

/* Responsive */
@media (max-width: 900px) {
  .hero-container {
    grid-template-columns: 1fr;
    text-align: center;
  }

  .hero-text p {
    margin: auto auto 2rem;
  }

  .hero-actions {
    justify-content: center;
  }

  .hero-images {
    grid-template-columns: repeat(3, 1fr);
    transform: translate(15%, 0%);
  }

  .img-card:nth-child(2) {
    transform: none;
  }
}

@media (max-width: 600px) {
  .hero-text h1 {
    font-size: 2.4rem;
  }
}
